.Homepage {
  background-color: #f9dad3;
}
.container {
  padding-left: 5.25rem;
  padding-top: 6.813rem;
}
.heading {
  font-size: 92px;
  font-style: 'sora';
  font-weight: bold;
  color: #3144b4;
  padding: auto;
}
.design
{
   color: #3144b4;
}
/* .heading img {
  border-radius: 100%;
} */
.topBorder {
  padding-left: 2.563rem;
}
.love-color{
  color: red;
}
