.Homepage {
  background-color: #f9dad3;
  width: 100%;
}
.container {
  padding-left: 5.25rem;
  padding-top: 6.813rem;
}
.heading {
  font-size: 92px;
  font-style: sora;
  font-weight: bold;
  color: #3144b4;
  padding: auto;
}
/* .design
{
    padding-left: 6.7%;
    padding-top:4.67%;
    padding-right: 71%;
    margin: auto;
} */
.heading img {
  border-radius: 50%;
}
.topBorder {
  padding-left: 2.563rem;
}
