.container-box2 {
  position: absolute;
  width: 604px;
  height: 1227px;
  right: 0;
  z-index: 9999;
  top: 0px;
  background: #3144b4;
  top: -64%;
  right: -7%;
}

.selected2 {
  position: absolute;
  width: 171px;
  height: 64px;
  left: 24.5rem;
  top: 234px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 160%;
  letter-spacing: -0.05em;
  color: #f9dad3;
  margin-right: 2px;
}

.selected_person1 {
  position: absolute;
  right: 0;
  width: 62px;
  height: 32px;
  /* left: 513px;
    top: 253px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.05em;  */
  color: #f9dad3;
}

.close1 {
  position: absolute;
  /* width: 45px; */
  height: 26px;
  left: 480px;
  top: 68px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: -0.05em;
  color: #f9dad3;
}
.cloz1 {
  position: absolute;
  width: 18.38px;
  height: 18px;
  left: 542px;
  top: 74.42px;
  color: #f9dad3;
  cursor: pointer;
  /* transform: rotate(90deg); */
}
.box1 {
  position: relative;
  width: 516px;
  height: 110px;
  left: 47px;
  top: 322px;
  background: #ffffff;
  margin-bottom: 10px;
}
.address2 {
  position: absolute;
  left: 130px;
  top: 55px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #3144b4;
}

.image1 {
  float: left;
  width: 110px;
  height: 108px;
  padding: 9px 6px 6px 0px;
}
.delete {
  position: absolute;
  left: 91.25%;
  right: 7.34%;
  top: 26.34%;
  bottom: 72.11%;
}
.delete_button1 {
  background: white;
  border: white;
}
.download {
  position: absolute;
  width: 518px;
  height: 81px;
  left: 47px;
  top: 1119px;
  background: #f9dad3;
}
.download_bottem {
  padding: 0.7rem 7.7rem;
  position: absolute;
  bottom: 3rem;
  width: 283px;
  background-color: #f9dad3;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  left: 9%;
  height: 4.2rem;
  width: 31rem;
  letter-spacing: -0.05em;
  color: #3144b4;
  border: 1px solid #f9dad3;
}
.persona_name {
  position: relative;
  left: 20px;
  top: 17px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.02em;
  color: #3144b4;
}
.selected_number
{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.05em;
  background: none;
  padding: 7px;
  
}
.download {
  position: absolute;
  width: 518px;
  height: 81px;
  left: 47px;
  top: 1119px;
  background: #f9dad3;
}
.download_bottom {
  padding: 0.7rem 7.7rem;
  position: absolute;
  bottom: 3rem;
  width: 283px;
  background-color: #f9dad3;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  left: 9%;
  height: 4.2rem;
  width: 31rem;
  letter-spacing: -0.05em;
  color: #3144b4;
  border: 1px solid #f9dad3;
}
.persona_name {
  position: relative;
  left: 20px;
  top: 17px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.02em;
  color: #3144b4;
}
.selected_number
{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.05em;
}
.close_button
{
    background-color:#3144b4;
    color: #f9dad3;
    border: none;
}
/* .sticky {
  position: fixed;
  top: 0;
} */
