.container-1 {
  position: relative;
  width: 100%;
  top: 690px;
}
.personDetail {
  position: relative;
  bottom: 0;
  width: 288px;
  padding: 15px 15px 15px 15px;
  position: absolute;
  color: #f9dad3;
  background: linear-gradient(0deg, #3144b4 0%, rgba(49, 68, 180, 0) 100%);
}
.text-block1 {
  padding: 15px 15px 15px 15px;
  position: relative;
  width: 258px;
  color: #f9dad3;
  background: linear-gradient(0deg, #3144b4 0%, rgba(49, 68, 180, 0) 100%);
}
p1 {
  position: absolute;
  /* top: 55px; */
  font-family: "Sora";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #f9dad3;
  margin-bottom: 0 !important;
}

.container-2 {
  position: absolute;
  width: 100%;
  top: 690px;
  left: 450px;
}
.text-block2 {
  padding: 15px 15px 15px 15px;
  position: absolute;
  width: 288px;
  top: 242.5px;
  color: #f9dad3;
  left: 449px;
  background: linear-gradient(0deg, #3144b4 0%, rgba(49, 68, 180, 0) 100%);
}
.p2 {
  position: absolute;
  top: 30px;
  font-family: "Sora";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #f9dad3;
}

.container-3 {
  position: absolute;
  width: 100%;
  top: 690px;
  left: 850px;
}
.text-block3 {
  padding: 15px 15px 15px 15px;
  position: absolute;
  width: 288px;
  top: 369px;
  color: #f9dad3;
  left: 838px;
  background: linear-gradient(0deg, #3144b4 0%, rgba(49, 68, 180, 0) 100%);
}
.p3 {
  position: absolute;
  top: 30px;
  font-family: "Sora";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #f9dad3;
}

.cardContainer1 {
  position: relative;
  /* background-color: red;
  border: 6px solid transparent;
  padding-right: 4rem; */
  /* : #ffffff;background */
}
.bottem-line1 {
   position: fixed;
    width: 8%;
    box-shadow: 0 13px 0px -10px #3144b4;
    /* z-index: revert; */
    left: 92%;
}
