.tablelist {
  margin-top: 7%;
  width: 100%;
  position: relative;
}
.person_name {
  font-family: Sora;
  font-size: 24px;
  font-weight: 800;
  line-height: 121px;
  letter-spacing: -0.02rem;
}
.table_grid {
  text-align: center;
  align-items: center;
  background-color: aliceblue;
  margin-top: 1%;
  color: #3144b4;
}
.table_grid td {
  border: 1px solid #f9dad3;
}
.person_image {
  float: left;
  width: 100px;
  height: 101px;
  margin: 10px;
}
.text {
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.bottem-line {
  position: relative;
  padding-left: 65rem;
  top: -5.5rem;
}
