.tablelist {
  margin-top: 7%;
  width: 100%;
  position: relative;
}
.person_name {
  font-family: Sora;
  font-size: 24px;
  font-weight: 800;
  line-height: 121px;
  letter-spacing: -0.02rem;
}
.table_grid {
  text-align: center;
  /* align-items: center; */
  background-color: aliceblue;
  margin-top: 1%;
  color: #3144b4;
  margin-bottom: 10px;
  /* border: 12px solid #f9dad3; */
}
.table_grid td {
  border: 1px solid #f9dad3;
}
.person_image {
  float: left;
  width: 100px;
  height: 101px;
  margin: 10px;
}
.text {
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
/* .bottem-line {
  position: absolute;
  padding-left: 65rem;
  top: -5.5rem;
  max-width: 10px;
  box-shadow: 15px 0 15px -15px inset;
  right: -15px;
} */
/* .bottem-image {
  position: relative;
  box-shadow: 0 13px 0px 2px #3144b4;
  bottom: 5.1rem;
  margin-left: 92.25%;
  max-width: 7%;
} */
.row-border {
  bottom: 6px;
  padding-bottom: 1em;
}
.table_grid{
  padding-bottom: 1em;
}
.checkbox1 {
  width: 30px;
  height: 30px;
  border: blue;
  margin-top: 10px;
  justify-content: space-between;
}
.row-border {
  border: 2px solid #3144b4;
}
.selected-border {
  border: 12px solid #3144b4;
  /* z-index: 9999; */
}
.normal-border {
  border: 2px solid transparent;
  padding-top: 10px; 
  padding-bottom:10px
}
.location
{
  padding: 20px 40px 20px 20px;
  float: left;
}
.download_data
{
  background-color:#3144b4;
  border: 1px solid #3144b4;
  position: absolute;
  right: -7rem;
    top: -18rem;
}
